<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="All test with chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="LoginTest"/>
            <class name="GuestPageTest"/>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="All test with firefox">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="LoginTest"/>
            <class name="GuestPageTest"/>
        </classes>
    </test>
</suite>